---
import NavbarDesktop from "@/components/ui/navbar/NavbarDesktop.astro"
import NavbarMobile from "@/components/ui/navbar/NavbarMobile.astro"
---
<nav class="bg-primary">
    <div id="desktop-navbar" class="hidden sm:block">
        <NavbarDesktop transition:persist/>
    </div>
    <div id="mobile-navbar" class="sm:hidden">
        <NavbarMobile/>
    </div>
</nav>
