---
import { MultiItemCarousel } from "@/components//ui/carousel/MultiItemsCarousel";
---

<section id="carousel" class="bg-white py-20">
    <div>
        <div>
            <h3 class="text-indigo-900 text-5xl text-start py-4 mx-20">Conoce nuestra linea de desechables</h3>
        </div>
        <div class="my-12">
            <MultiItemCarousel client:load/>
        </div>
    </div>
</section>