---
import CatalogStatic from "@/components/ui/catalog/CatalogStatic.astro"
---

<section id="catalogo">
    <div class="bg-white py-20">
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h2 class="text-gray-900 text-4xl text-start py-4 mx-20">
                    Conoce nuestro catálogo
                </h2>
        </div>
        <div>
            <CatalogStatic />
        </div>
    </div>
</section>