---
import CatalogStatic from "@/components/ui/catalog/CatalogStatic.astro"
import SectionTitle from "../ui/text/SectionTitle.astro"
---

<section id="catalogo">
    <div class="bg-gray-100 rounded-xl m-20 container mx-auto items-center justify-center">
        <div class="px-12">
            <div class="py-14">
                <SectionTitle 
                    title="Conoce nuestro catálogo de productos"
                    description={`
                        Contamos con una amplia variedad de productos desechables para tu hogar, oficina o negocio.
                    `}
                />
            </div>
        </div>
        <div class="px-12 pb-10">
            <CatalogStatic />
        </div>
    </div>
</section>