---
import JumbotronText from "@/components/ui/jumbotron/JumbotronText.astro"
---

<div class="mx-auto px-4 pt-16 mt-4 sm:px-8 md:px-16 lg:px-44 bg-white grid grid-cols-1 md:grid-cols-2 gap-8 p-4" id="home">
    <!-- Sección de texto -->
    <div class="flex flex-col justify-center items-start">
        <div class="w-full">
            <JumbotronText 
                title_image="/full_logo.jpeg"
                description="Soluciones prácticas para un mundo más verde"
                link="/catalogo/#desechables"
                linkText="¡Conoce nuestra línea de desechables!"
            />
        </div>
    </div>

    <!-- Sección de imagen -->
    <div class="flex justify-center items-center">
        <img
            src="/jumbotron_image.png"
            alt="cleaning"
            class="w-auto max-h-96 md:max-h-120 lg:max-h-140"
            loading="lazy"
        />
    </div>
</div>