---
import JumbotronText from "@/components/ui/jumbotron/JumbotronText.astro"
---

<div class="mx-auto px-44 bg-white grid grid-cols-1 md:grid-cols-2 gap-4 p-4" id="home">
    <div class="flex flex-col justify-center items-start">
        <div>
            <JumbotronText 
                title_image="/full_logo.jpeg"
                description="Soluciones prácticas para un mundo más verde",
                link="/catalogo/#desechables",
                linkText="¡Conoce nuestra línea de desechables!"
            />

        </div>
    </div>
    <div class="flex justify-center">
        <img
            src="/jumbotron_image.png"
            alt="cleaning"
            class="w-auto h-3/5"
        />
    </div>
</div>