
---
import { COLOR_PALETTE } from "@/consts/colors"
import NavbarButton from "@/components/ui/navbar/NavbarButton.astro"
import NavbarSearch from "@/components/ui/navbar/NavbarSearch.astro"
import { CartButton } from "@/components/ui/navbar/cart-button"
---

<div class="grid grid-cols-2 gap-4 items-center">
    <div>
        <NavbarButton 
        href="/"
        hover_background_color={COLOR_PALETTE.tertiary_color}
        >
            <img
                slot="before"
                src="/logo_horizontal.png"
                alt="Vingolingo"
                class="icon icon-tabler icon-tabler-home w-64 text-white"
            />
        </NavbarButton>
    </div>
    <div class="justify-end">
        <NavbarButton 
            href="/"
            hover_background_color="">
            <svg
                slot="before"
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-home"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
                d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
            >
            Inicio
        </NavbarButton>
        <NavbarButton href="/catalogo">
            <svg
                slot="before"
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-building-store"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 21l18 0"></path><path
                    d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
                ></path><path d="M5 21l0 -10.15"></path><path d="M19 21l0 -10.15"
                ></path><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"></path></svg
            >
            Productos
        </NavbarButton>
        <NavbarButton href="/#contact">
            <svg slot="before" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
            Contacto
        </NavbarButton>
        <CartButton client:load transition:persist/>
        <NavbarSearch />
    </div>
</div>