---
import Home from "@/components/ui/icons/layout/Home.astro"
import Catalog from "@/components/ui/icons/layout/Catalog.astro"
import Cart from "@/components/ui/icons/layout/Cart.astro"
import Search from "@/components/ui/icons/layout/Search.astro"
import MobileSearch from "@/components/ui/search/MobileSearch.astro" // Importar el modal de búsqueda
---

<style>
    .mobile-navbar {
        background: #f12;
    }
</style>

<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
        <a href="/" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <Home />
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Inicio</span>
        </a>
        <a href="/catalogo" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <Catalog />
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Catalogo</span>
        </a>
        <a href="/compra" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <Cart />
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Carrito</span>
        </a>
        <!-- Botón de búsqueda para abrir el modal -->
        <button
            type="button"
            onclick="document.getElementById('mobileSearchModal').classList.remove('hidden')"
            class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
        >
            <Search />
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Buscar</span>
        </button>
    </div>
</div>

<!-- Modal de búsqueda -->
<div id="mobileSearchModal" class="hidden">
    <MobileSearch />
</div>