---
import '@/styles/globals.css'
import Navbar from '@/components/layout/Navbar.astro'
import Header from '@/components/layout/Header.astro'
import Footer from '@/components/layout/Footer.astro'
import { ClientRouter } from 'astro:transitions';
import FloatingWhatsappButton from '@/components/ui/buttons/FloatingWhatsappButton.astro';
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light';
	};

	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}

	function adjustMainPadding() {
		const navbar = document.querySelector('header'); // Selecciona el header que contiene el navbar
		const mainContent = document.querySelector('body'); // Selecciona el body para aplicar el padding
		if (navbar && mainContent) {
			const navbarHeight = navbar.offsetHeight; // Obtiene la altura del navbar
			mainContent.style.paddingTop = `${navbarHeight}px`; // Aplica el padding al body
		}
	}
	window.addEventListener('load', adjustMainPadding);

	// Ajustar el padding al cambiar el tamaño de la ventana
	window.addEventListener('resize', adjustMainPadding);

	// Ajustar el padding si el navbar cambia dinámicamente (opcional)
	const navbarObserver = new MutationObserver(adjustMainPadding);
	const navbarElement = document.querySelector('header');
	if (navbarElement) {
		navbarObserver.observe(navbarElement, { attributes: true, childList: true, subtree: true });
	}
</script>
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vingolingo</title>
		<ClientRouter />
	</head>
	<body>
		<Header>
			<Navbar slot="navbar" transition:persist/>
		</Header>

		<slot />

		<FloatingWhatsappButton 
			phoneNumber='5225322808'
			message='¡Hola! Tengo una duda sobre...'
		/>
		<Footer />
	</body>
</html>