<div class="w-full h-full">
    <iframe 
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Av%20Culturas%20Prehisp%C3%A1nicas%20144,%20Granjas%20San%20Antonio,%20Iztapalapa,%2009070%20Ciudad%20de%20M%C3%A9xico,%20CDMX+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        class="w-full h-full"
    ></iframe>
</div>