---
import { fetchCategories } from '@/services/items'
import CardCategory from '@/components/ui/cards/CardCategory.astro'


const all_categories = await fetchCategories()
const categories = all_categories.slice(0, 6)

---
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {categories.map((category) => (
        <CardCategory
            id={category.id},
            name={category.name},
            image={category.image},
            numberOfItems={category.number_of_items}
        />
    ))}
</div>